body {
  background-color: #54728e;
}
.todo-content {
  display: flex;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 45%;
  min-height: 600px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #54728e;
  outline: none;
  width: 320px;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #54728e;
  color: white;
  text-transform: capitalize;
}
.iconsContainer {
  font-size: 24px;
  cursor: pointer;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: white;
  background: #54728e;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}


